# === Docker ===
docker-compose.override.yml
.env
docker/postgres_data/  # Volume с данными Postgres
docker/redis_data/     # Volume с данными Redis

# === Composer ===
vendor/
composer.lock         # Не коммитим для библиотеки!

# === Тесты и кэши ===
.phpunit.result.cache
.phpunit.cache
*.sqlite

# === IDE ===
.idea/
.vscode/
*.swp

# === Системное ===
.DS_Store